// $main-color: #fff;
 $mainFont: Proxima;
 $mainFontBold: Cabin, sans-serif;


body{
	max-width: 1920px;
	position: relative;
	overflow-x: hidden;
	// .clear {
	// 	content: '';
	// 	clear: both;
	// }
	// main {
	//   min-height: calc(100vh - 323px); 
	//   // footer к низу
	// }
}
.container{
	max-width: 1280px;
	margin: 0 auto;
}
p{
	font-family: Proxima Re;
}
